<br>
<ul class="nav nav-pills mb-3 justify-content-end" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" href="/users/create"><b>CREATE TASKS</b></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/users/read"><b>READ TASKS</b></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/users/logout"><b>LOGOUT</b></a>
    </li>
</ul>
<hr>
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>